---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();

const socialLinks: { label: string, href: string}[] = [
	{ label: 'LinkedIn', href: 'https://www.linkedin.com/in/marcocipriani94/' },
	{ label: 'GitHub', href: 'https://github.com/marcocipriani' },
	{ label: 'Twitter', href: 'https://twitter.com/marcocipriani' },
	{ label: 'Facebook', href: 'https://www.facebook.com/macipriani' },
	{ label: 'Instagram', href: 'https://www.instagram.com/marcocipriani/' },
	{ label: 'Pinterest', href: 'https://it.pinterest.com/marcocipriani/' }
];
---

<footer>
	<div class="group">
		<p>
			Designed by <a href="https://astro.build/" target="_blank">Astro</a>
			<Icon icon="rocket-launch" size="1.2em" />, Refactored by me <Icon icon="bxs:wink-smile" size="1.2em" />
		</p>
		<p>&copy; 2015 - {currentYear} marcocipriani.it</p>
	</div>
	<p class="socials">
		{
			socialLinks.map(({label, href}) => (
				<a href={href} target="_blank">{label}</a>
			))
		}
	</p>
</footer>